.el-card {
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-blank-main {
  padding: 7px 12px;
  font-size: 16px;
}

#guigeBox {
  display: none;
}

/* .btn:link{color: #fff;} */

.main {
  padding: 20px 0;
  background-color: #f2f2f2;
}

/* 收货人员信息和货物信息公共样式 */

div[class$="-container"] h3 {
  display: inline-block;
  margin: 0;
  vertical-align: bottom;
  font-size: 16px;
  font-weight: 700;
  color: #333;
}

div[class$="-container"] .main-content {
  padding: 20px;
}

@media (min-width: 768px) {
  div[class$="-container"] .main-content {
    padding: 20px;
  }
}

/* 收货人员信息 */

.address-list {
  height: 42px;
  overflow: hidden;
  &.active {
    height: auto;
    max-height: 200px;
    overflow: auto;
  }
  .el-table td {
    border-bottom: 0;
  }
  .el-radio__label {
    display: none;
  }
  .el-table__row {
    // display: none;
    &:first-child {
      display: table-row;
    }
  }
  .default.el-button--text {
    color: #666;
    font-weight: bold;
    cursor: default;
  }
  .el-table td,
  .el-table th {
    padding: 6px 0;
  }
}

.others {
  padding: 10px 0 0 10px;
  span {
    display: none;
    &.active {
      display: block;
    }
  }
}

.clearfix {
  overflow: hidden;
}

/* 货物信息 */

.cargo-container {
  margin-top: 20px;
}

.cargo-container i {
  font-size: 18px;
  display: inline-block;
  vertical-align: bottom;
}

.cargo-list .form-group {
  margin-bottom: 20px;
}

.cargo-list .form-group > div.size-content {
  width: 350px;
  display: inline-block;
}

.cargo-list .size-content .size {
  width: 32%;
  display: inline-block;
}

.cargo-list .size-content .size .title {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  font-size: 14px;
}

.cargo-list .size-content .size .el-input {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  width: 100px;
}

.cargo-list .radio-content {
  position: relative;
}

.cargo-list .radio-content .cheap {
  position: absolute;
  left: 130px;
  top: -3px;
  width: 60px;
  height: 18px;
  text-align: center;
  font-size: 12px;
  color: #f00;
  background-color: #fff;
  border: 1px solid #f00;
  z-index: 100;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
}

.cargo-list .radio-content .cheap:before {
  position: absolute;
  left: -7px;
  top: 4px;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 6px solid #f00;
  border-bottom: 5px solid transparent;
}

.cargo-list .radio-content .cheap:after {
  position: absolute;
  left: -6px;
  top: 4px;
  display: block;
  content: "";
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 6px solid #fff;
  border-bottom: 5px solid transparent;
}

.cargo-list .radio-content,
.cargo-list .total-content {
  display: inline-block;
}

.cargo-list .radio-content {
  position: relative;
}

@media (min-width: 768px) {
  .cargo-list .form-group .label-control {
    display: inline-block;
    width: 130px;
    margin-right: 18px;
    vertical-align: middle;
    text-align: right;
    font-size: 14px;
    font-weight: 400;
    color: #888;
  }
  .cargo-list .form-group .label-control.required:before {
    display: inline-block;
    margin-right: 10px;
    content: "*";
    color: #f00;
  }
  .cargo-list .form-group > div[class$="-content"],
  .cargo-list .form-group {
    .w-150 .el-input {
      width: 150px;
    }
    .w-190.el-input {
      width: 190px;
    }
    .size .el-input {
      width: 100%;
    }
    .el-input {
      display: inline-block;
      width: 340px;
      vertical-align: middle;
      font-size: 14px;
      color: #646464;
    }
  }
  .cargo-list .form-group > div.address-content {
    width: auto;
    display: inline-block;
  }
  .cargo-list .form-group > div.address-content >span {
    margin-right: 30px;
  }
  .cargo-list .total-content {
    position: relative;
  }
}
.total-content {
  width: 350px;
}

@media (min-width: 768px) {
  .modal-dialog {
    margin: 100px auto;
  }
  .radio-content {
    width: 350px;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  .total-content {
    min-width: 200px;
  }
  .cargo-list .form-group {
    position: relative;
  }
}

/* 商品信息列表 */

.goods-container .choice .btn:first-child {
  margin-right: 15px;
}

.cargo-list .form-group > div.currency-content {
  display: inline-block;
}

.cargo-list .form-group .currency-content > .width-110 {
  display: inline-block;
  width: 35%;
  font-size: 14px;
  vertical-align: top;
  margin-right: 5%;
}

.cargo-list .form-group .currency-content > .width-200 {
  display: inline-block;
  width: 60%;
  font-size: 14px;
  vertical-align: top;
}

@media (min-width: 768px) {
  .cargo-list .form-group .currency-content > .width-110 {
    display: inline-block;
    width: 110px;
    margin-right: 10px;
  }
  .cargo-list .form-group .currency-content > .width-200 {
    display: inline-block;
    width: 200px;
  }
  .add-goods .button-group {
    padding-left: 140px;
    text-align: left;
  }
  #otherAddress .modal-dialog {
    width: 800px;
  }
  .carton-container .modal-dialog {
    width: 400px;
  }
}
//-------------------割-----------------------

#allmap {
  width: 100%;
  height: 500px;
}

.BMap_bubble_title {
  margin-top: 15px;
}

.carton-container .form-group > label {
  width: 90px;
}
.carton-container .tool-tips {
  margin: 15px 0 0;
  padding-left: 90px;
  color: #f00;
  font-size: 14px;
  font-weight: 400;
}

.el-input__inner {
  border-radius: 0;
}

//必填
.el-form-item.must {
  .el-form-item__label {
    &::before {
      content: "*";
      color: #f00;
      margin-right: 4px;
    }
  }
}

//资料提交成功
.order-box {
  padding: 5% 20%;
  .order-icon {
    width: 120px;
    display: inline-block;
    vertical-align: top;
    i {
      font-size: 100px;
      color: #48b32f;
    }
  }
  .order-list {
    display: inline-block;
  }
  .sp-details {
    > li {
      margin-top: 20px;
    }
    .dt {
      width: 120px;
    }
    .text {
      display: inline-block;
      vertical-align: text-top;
    }
  }
  .title-wrapper {
    h1 {
      font-size: 24px;
      color: #333;
      font-weight: normal;
      margin-bottom: 6px;
    }
    small {
      color: #666;
    }
  }
  .button-group {
    margin: 30px 0;
  }
}

//商品信息弹窗
.sp-info-box {
  .el-dialog {
    width: 80%;
    min-height: 60%;
  }
}
//高德地图
.baidu-map {
  right: 100%;;
  .el-dialog__body{
    padding: 10px 20px 0;
  }
}
.v-modal{
  display: none;
}
.el-vue-amap-container {
  .el-vue-amap.amap-container {
    height: 500px;
    width: 100%;
  }
}
