<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <!-- <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="css/theme-chalk/index.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/header-footer.css">
    <link rel="stylesheet" type="text/css" href="css/placeorder.css">
    <link rel="stylesheet" type="text/css" href="icon-font/iconfont.css">
    <link rel="stylesheet" type="text/css" href="css/public.css">
    <title>fba-top</title>
</head>

<body>
    <div id="app">
        <header class="sp-container">
            <div class="header el-row">
                <div class="icon el-col el-col-4">
                    <i id="openNav" class="sp-menu-icon"></i>
                </div>
                <div class="logo el-col el-col-4">
                    <a href="index.html">
                        <img src="img/logo.png" alt="logo">
                    </a>
                </div>
                <nav class="el-col el-col-14">
                    <ul id="nav" class="nav">
                        <li>
                            <a href="index.html">首页</a>
                        </li>
                        <!-- <li><a href="program.html">省钱方案</a></li> -->
                    </ul>
                </nav>
                <ul class="login el-col el-col-6">
                    <li>
                        <a href="login.html">登陆</a>
                        <i class="hr">|</i>
                        <a href="signin.html">注册</a>
                    </li>
                    <li>
                        <div class="el-dropdown">
                            <span class="el-dropdown-link el-dropdown-selfdefine " aria-haspopup="list" aria-controls="dropdown-menu-3401" role="button"
                                tabindex="0">
                                <i class="iconfont icon-name"></i>
                                <span id="userName"></span>
                            </span>
                            <ul class="el-dropdown-menu el-popper" style=" z-index: 2002;">
                                <li class="el-dropdown-menu__item">个人中心</li>
                                <li class="el-dropdown-menu__item">我的订单</li>
                                <li class="el-dropdown-menu__item">我的钱包</li>
                                <li class="el-dropdown-menu__item">商品管理</li>
                                <li id="loginOut" class="el-dropdown-menu__item el-dropdown-menu__item--divided">
                                    <i class="iconfont icon-tuichu"></i>&nbsp;&nbsp;退出</li>
                                <div class="popper__arrow" style="left: 43.3828px;"></div>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <div class="sp-bg">
            <div class="sp-container" style="display:none;">
                <!-- 收货人信息 -->
                <div class="cargo-container el-card" style="margin-top:0;">
                    <div class="el-card__header">
                        <div class="clearfix">
                            <span>收货信息</span>
                            <a href="#" @click="handleEditAddress" class="f-r">
                                <i class="el-icon-circle-plus-outline"></i>&nbsp;新增</a>
                        </div>
                    </div>
                    <div class="main-content">
                        <div class="address-list" :class="{active: addressListShow == true}">
                            <el-table :data="addressList" :show-header="false" class="list" style="width: 100%">
                                <!-- <el-table-column type="selection" width="55"></el-table-column> -->
                                <el-table-column width="40">
                                    <template slot-scope="scope">
                                        <el-radio v-model="radio" :label="scope.$index" @click.native="handleCheck(scope.row)"></el-radio>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="region+city" width="180">
                                    <template slot-scope="scope">
                                        <span v-text="scope.row.region"></span>&nbsp;
                                        <span v-text="scope.row.city"></span>
                                    </template>
                                </el-table-column>
                                <el-table-column prop="fbacode" width="180"></el-table-column>
                                <el-table-column prop="default" width="180">
                                    <template slot-scope="scope">
                                        <el-button class="default" type="text" size="small" v-if="scope.row.default">[默认地址]</el-button>
                                        <el-button @click="handleClick(scope.row)" type="text" size="small" v-else>设为默认地址</el-button>
                                    </template>
                                </el-table-column>
                                <el-table-column width="180">
                                    <template slot-scope="scope">
                                        <el-button size="mini" type="text" @click="handleEditAddress(scope.$index, scope.row)">编辑</el-button>
                                        <el-button size="mini" type="text" v-if="scope.$index != radio" @click="handleDeleteAddress(scope.$index, scope.row)">删除</el-button>
                                    </template>
                                </el-table-column>
                            </el-table>
                        </div>
                        <div class="others">
                            <a href="javascript:;" @click="addressListShow =! addressListShow" class="other">
                                <span :class="{active: !addressListShow}">更多地址</span>
                                <span :class="{active: addressListShow}">收起地址</span>
                            </a>
                        </div>
                    </div>
                </div>
                <!-- 货物信息 -->
                <div class="cargo-container el-card">
                    <div class="el-card__header">
                        <div class="clearfix">
                            <span>货物信息</span>
                            <el-checkbox v-model="checked" style="float:right;">以承运商测量数据为准</el-checkbox>
                        </div>
                    </div>
                    <div class="main-content">
                        <div role="alert" class="el-alert el-alert--warning">
                            <i class="el-alert__icon el-icon-warning is-big"></i>
                            <div class="el-alert__content">
                                <span class="el-alert__title">温馨提示：重量体积以实际测量为准！</span>
                            </div>
                        </div>
                        <form action="" class="cargo-list m-t-20">
                            <div id="qujian" class="form-group">
                                <label class="label-control">需要上门取件：</label>
                                <div class="radio-content">
                                    <el-radio v-model="smenRadio" label="1">是</el-radio>
                                    <el-radio v-model="smenRadio" label="2">否</el-radio>
                                    <div class="cheap">优惠50元</div>
                                    <span class="f-r">
                                        <el-tooltip class="item" effect="dark" content="提示文字" placement="right">
                                            <i id="wenhao1" class="iconfont icon-wenhao" style="font-size: 14px;"></i>
                                        </el-tooltip>
                                    </span>
                                </div>
                            </div>
                            <!-- 需要上门取件时显示 -->
                            <div class="dl-address form-group" v-show="smenRadio == 1">
                                <label class="label-control">货物地址：</label>
                                <div class="address-content">
                                    <span class="address" v-text="smenAddress.address"></span>
                                    <span class="phone" v-text="smenAddress.phone"></span>
                                    <span class="operate">
                                        <a href="javascript:;" @click="handlesmenAddress()" class="edit">编辑</a>
                                    </span>
                                </div>
                            </div>
                            <!-- 不需要上门取件时显示 -->
                            <div class="dl-address form-group" v-show="smenRadio == 2">
                                <label class="label-control">自提至：</label>
                                <div class="address-content">
                                    <span class="address">
                                        <b v-text="userCarry.title"></b><span v-text="userCarry.address"></span></span>
                                    <span class="phone" v-text="userCarry.phone"></span>
                                    <span class="distance"><span v-text="userCarry.distance+'km'"></span>&nbsp;<span v-if="userCarry.distance == minNumber">(距离最近)</span></span>
                                    <span class="operate">
                                        <a href="javascript:;" @click="checkOther" class="edit">选择其它</a>
                                    </span>
                                </div>
                            </div>
                            <div class="sp-line"></div>
                            <div class="form-group">
                                <label class="label-control required">客户单号：</label>
                                <div class="el-input el-input--small">
                                    <input placeholder="客户单号" type="text" class="el-input__inner">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label-control">FBA 号：</label>
                                <div class="el-input el-input--small">
                                    <input placeholder="FBA 号" type="text" class="el-input__inner">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="label-control">货物箱数：</label>
                                <div class="el-input el-input--small">
                                    <input placeholder="货物箱数" type="text" v-model="boxNumber" class="el-input__inner">
                                </div>
                            </div>
                            <div class="form-group" v-show="guigeRadio == 1 && checked == true">
                                <label class="label-control">SKU：</label>
                                <el-button size="mini" type="text" @click="listTable = true">添加/编辑</el-button>
                            </div>
                            <div v-if="checked == false">
                                <div class="sp-line"></div>
                                <div class="form-group">
                                    <label class="label-control">箱子规格相同：</label>
                                    <div id="guige" class="radio-content">
                                        <el-radio v-model="guigeRadio" label="1">是</el-radio>
                                        <el-radio v-model="guigeRadio" label="2">否</el-radio>
                                    </div>
                                </div>
                                <div class="form-group" v-show="guigeRadio == 1 && checked == false">
                                    <label class="label-control">SKU：</label>
                                    <el-button size="mini" type="text" @click="listTable = true">添加/编辑</el-button>
                                </div>
                                <div class="form-group" v-show="guigeRadio == 1">
                                    <label class="label-control">箱子尺寸（CM）：</label>
                                    <div class="size-content">
                                        <div class="size">
                                            <!-- <span class="title">长</span> -->
                                            <div class="el-input el-input--small">
                                                <input placeholder="长" v-model="guige.long" type="text" class="el-input__inner">
                                            </div>
                                        </div>
                                        <div class="size">
                                            <!-- <span class="title">宽</span> -->
                                            <div class="el-input el-input--small">
                                                <input placeholder="宽" v-model="guige.width" type="text" class="el-input__inner">
                                            </div>
                                        </div>
                                        <div class="size">
                                            <!-- <span class="title">高</span> -->
                                            <div class="el-input el-input--small">
                                                <input placeholder="高" v-model="guige.height" type="text" class="el-input__inner">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group" v-show="guigeRadio == 1">
                                    <label class="label-control">单箱重量（KG）：</label>
                                    <div class="el-input el-input--small">
                                        <input placeholder="单箱重量" v-model="guige.weight" type="text" class="el-input__inner">
                                    </div>
                                </div>
                                <div v-show="guigeRadio == 2">
                                    <div class="el-card__header clearfix">
                                        <div class="clearfix">
                                            <!-- <span>箱子信息</span> -->
                                            <a href="javascript:;" @click="handleEditGuige" class="f-r">
                                                <i class="el-icon-circle-plus-outline"></i>&nbsp;添加</a>
                                        </div>
                                    </div>
                                    <div class="el-card__body">
                                        <table class="sp-table">
                                            <thead>
                                                <tr>
                                                    <th>箱数</th>
                                                    <th>长（CM）</th>
                                                    <th>宽（CM）</th>
                                                    <th>高（CM）</th>
                                                    <th>毛重（KG）</th>
                                                    <th>SKU信息</th>
                                                    <th>操作</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(item, index) in guigeArr" ::key="index" v-show="item">
                                                    <td v-text="item.number"></td>
                                                    <td v-text="item.long"></td>
                                                    <td v-text="item.width"></td>
                                                    <td v-text="item.height"></td>
                                                    <td v-text="item.weight"></td>
                                                    <td>
                                                        <el-button size="mini" type="text" @click="listTable = true">添加/编辑SKU</el-button>
                                                    </td>
                                                    <td>
                                                        <el-button size="mini" type="text" @click="handleEditGuige(item, index)">编辑</el-button>
                                                        <el-button size="mini" type="text" @click="handleDeleteGuige(item, index)">删除</el-button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label-control">总体积（CM3）：</label>
                                    <div class="total-content">
                                        <span v-text="allTiji"></span>
                                        <span class="f-r">
                                            <el-tooltip class="item" effect="dark" content="提示文字" placement="right">
                                                <i id="wenhao1" class="iconfont icon-wenhao" style="font-size: 14px;"></i>
                                            </el-tooltip>
                                        </span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="label-control">总重量（KG）：</label>
                                    <div class="total-content">
                                        <span v-text="allWeight"></span>
                                        <span class="f-r">
                                            <el-tooltip class="item" effect="dark" content="提示文字" placement="right">
                                                <i id="wenhao1" class="iconfont icon-wenhao" style="font-size: 14px;"></i>
                                            </el-tooltip>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <el-dialog class="sp-info-box" title="商品信息" :visible.sync="listTable">
                    <div class="">
                        <div style="margin-bottom:10px;">
                            <div class="clearfix">
                                <div style="float:right;">
                                    <button type="button" class="el-button el-button--default el-button--small" @click="spHandleEdit">
                                        <span>新增</span>
                                    </button>
                                    <button type="button" class="el-button el-button--default el-button--small" @click="lishiTable = true">
                                        <span>历史商品列表</span>
                                    </button>
                                    <button type="button" class="el-button el-button--default el-button--small">
                                        <span>批量导入商品</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <el-table :data="spList" tooltip-effect="dark" style="width: 100%">
                            <el-table-column prop="sku" label="SKU">
                            </el-table-column>
                            <el-table-column prop="zhName" label="中文品名"></el-table-column>
                            <el-table-column prop="enName" label="英文品名"></el-table-column>
                            <el-table-column prop="code" label="海关编码"></el-table-column>
                            <el-table-column prop="money" label="申报价值"></el-table-column>
                            <el-table-column label="数量">
                                <template slot-scope="scope">
                                    <el-input v-model="scope.row.number"></el-input>
                                </template>
                            </el-table-column>
                            <el-table-column label="图片">
                                <template slot-scope="scope">
                                    <img width="65" height="45" :src="scope.row.img">
                                </template>
                            </el-table-column>
                            <el-table-column label="操作" width="200">
                                <template slot-scope="scope">
                                    <el-button size="mini" @click="spHandleEdit(scope.$index, scope.row)">编辑</el-button>
                                    <el-button size="mini" type="danger" @click="spHandleDelete(scope.$index, scope.row)">删除</el-button>
                                </template>
                            </el-table-column>
                        </el-table>
                    </div>
                    <div slot="footer" class="dialog-footer">
                        <el-button type="primary" @click="handleSaveSp">保 存</el-button>
                    </div>
                </el-dialog>
                <div class="text-center m-t-20">
                    <a href="finishorder.html" class="el-button el-button--medium el-button--primary m-t-20">
                        <span>提交资料</span>
                    </a>
                </div>


                <!-- 历史商品列表弹层 -->
                <el-dialog title="历史商品列表" :visible.sync="lishiTable">
                    <el-table :data="lishiList" tooltip-effect="dark" style="width: 100%" @selection-change="handleSelectionChange">
                        <el-table-column type="selection" width="55"></el-table-column>
                        <el-table-column prop="sku" label="SKU">
                        </el-table-column>
                        <el-table-column prop="zhName" label="中文品名"></el-table-column>
                        <el-table-column prop="enName" label="英文品名"></el-table-column>
                        <el-table-column prop="code" label="海关编码"></el-table-column>
                        <el-table-column prop="money" label="申报价值"></el-table-column>
                        <el-table-column prop="img" label="图片">
                            <template slot-scope="scope">
                                <img width="65" height="45" :src="scope.row.img">
                            </template>
                        </el-table-column>
                    </el-table>
                    <div slot="footer" class="dialog-footer">
                        <el-button type="success" @click="handleSaveSp">确 定</el-button>
                    </div>
                </el-dialog>
                <!-- 新增商品信息弹层 -->
                <el-dialog title="新增商品信息" :visible.sync="addSPinfo">
                    <el-form size="small">
                        <el-form-item label="SKU" :label-width="formLabelWidth">
                            <el-input placeholder="SKU"></el-input>
                        </el-form-item>
                        <el-form-item label="中文品名" :label-width="formLabelWidth">
                            <el-input placeholder="中文品名"></el-input>
                        </el-form-item>
                        <el-form-item label="海关编码" :label-width="formLabelWidth">
                            <el-input placeholder="海关编码"></el-input>
                        </el-form-item>
                        <el-form-item label="英文品名" :label-width="formLabelWidth">
                            <el-input placeholder="英文品名"></el-input>
                        </el-form-item>
                        <el-form-item label="单个净重" :label-width="formLabelWidth">
                            <el-input placeholder="单个净重"></el-input>
                        </el-form-item>
                        <el-form-item label="申报价值" :label-width="formLabelWidth">
                            <el-select v-model="value" placeholder="请选择币种" size="small" class="w-150">
                                <el-option v-for="item in options" :key="item.value" :label="item.label" :value="item.value">
                                </el-option>
                            </el-select>
                            <el-input placeholder="申报价值"></el-input>
                        </el-form-item>
                        <el-form-item label="商品数量" :label-width="formLabelWidth">
                            <el-input placeholder="商品数量"></el-input>
                        </el-form-item>
                        <el-form-item label="商品图片" :label-width="formLabelWidth">
                            <div class="file-input">
                                <div class="file-new">
                                    <i class="el-icon-plus"></i>
                                    <input type="file" id="fileInput2" name="sop-content" class="file-original" @change="previewFiles()">
                                </div>
                                <div id="sop-content" class="file-content">
                                    <img src="" alt="商品图片">
                                </div>
                            </div>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button type="primary">继续添加</el-button>
                        <el-button type="success" @click="handleAddSp">完 成</el-button>
                    </div>
                </el-dialog>
                <!-- 新增/编辑收货地址弹层 -->
                <el-dialog title="修改地址" :visible.sync="dialogAddAddress">
                    <el-form size="small">
                        <el-form-item label="目的国家" :label-width="formLabelWidth">
                            <el-select v-model="form.region" placeholder="目的国家" filterable>
                                <el-option label="美国" value="美国"></el-option>
                                <el-option label="日本" value="日本"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="邮政编码" :label-width="formLabelWidth">
                            <el-select v-model="form.postcode" placeholder="邮政编码" filterable>
                                <el-option label="552123" value="552123"></el-option>
                                <el-option label="434535" value="434535"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="FBA仓码" :label-width="formLabelWidth">
                            <el-select v-model="form.fbacode" placeholder="FBA仓码" filterable>
                                <el-option label="552123" value="552123"></el-option>
                                <el-option label="434535" value="434535"></el-option>
                            </el-select>
                        </el-form-item>
                        <el-form-item label="城市" :label-width="formLabelWidth">
                            <el-input v-model="form.city" placeholder="城市"></el-input>
                        </el-form-item>
                        <el-form-item label="详细地址" :label-width="formLabelWidth">
                            <el-input v-model="form.address" placeholder="详细地址"></el-input>
                        </el-form-item>
                        <!-- 快递方式需要收件人 预留 -->
                        <!-- <el-form-item label="收件人" :label-width="formLabelWidth">
                        <el-input v-model="form.addressee"></el-input>
                    </el-form-item>
                    <el-form-item label="手机号码" :label-width="formLabelWidth">
                        <el-select v-model="form.phone" placeholder="请选择活动区域" class="width-100">
                            <el-option label="美国" value="meiguo"></el-option>
                            <el-option label="田纳西州" value="xinaxizhou"></el-option>
                        </el-select>
                        <el-input v-model="form.name"></el-input>
                    </el-form-item>
                    <el-form-item label="电话号码" :label-width="formLabelWidth">
                        <el-select v-model="form." placeholder="请选择活动区域" class="width-100">
                            <el-option label="美国" value="meiguo"></el-option>
                            <el-option label="田纳西州" value="xinaxizhou"></el-option>
                        </el-select>
                        <el-input v-model="form.name" placeholder="区号"></el-input>
                        <el-input v-model="form.telephone" placeholder="电话号码"></el-input>
                        <el-input v-model="form.name" placeholder="分机"></el-input>
                    </el-form-item> -->
                        <el-form-item :label-width="formLabelWidth">
                            <el-checkbox v-model="form.default">设为默认地址</el-checkbox>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button type="primary" @click="handleSaveAddress">保 存</el-button>
                    </div>
                </el-dialog>
                <!-- 上门编辑收货地址弹层 -->
                <el-dialog title="修改地址" :visible.sync="smenAddAddress">
                    <el-form size="small">
                        <el-form-item label="详细地址" :label-width="formLabelWidth">
                            <el-input v-model.lazy="smenform.address" placeholder="详细地址"></el-input>
                        </el-form-item>
                        <el-form-item label="电话" :label-width="formLabelWidth">
                            <el-input v-model.lazy="smenform.phone" placeholder="电话"></el-input>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button type="primary" @click="handleSmenSaveAddress">保 存</el-button>
                    </div>
                </el-dialog>
                <!-- 选择其它线下店地址弹层 -->
                <el-dialog title="修改地址" :visible.sync="xxiaMap" class="baidu-map">
                    <!--高德地图-->
                    <el-amap ref="map" vid="amapDemo" :amap-manager="amapManager" :center="center" :zoom="zoom" :plugin="plugin" :events="events" class="amap-demo">
                        <!-- <el-amap-marker vid="component-marker" :position="componentMarker.position" :content-render="componentMarker.contentRender" ></el-amap-marker> -->
                        <el-amap-marker v-for="(marker, index) in markers" :position="marker.position" :title="marker.address" :events="marker.events" :visible="marker.visible" raise-on-drag="true" :draggable="marker.draggable" :vid="index" :key="index"></el-amap-marker>
                    </el-amap>
                    <el-form size="small" class="m-t-20">
                        <el-form-item label="已选地址" label-width="70px">
                            <b v-text="title"></b><span v-text="address"></span>
                        </el-form-item>
                        <el-form-item label="联系电话" label-width="70px">
                            <span v-text="phone"></span>
                        </el-form-item>
                        <el-form-item label="坐标" label-width="70px">
                            <span v-text="center"></span>//线上隐藏
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button type="primary" @click="handleSmenSaveMap">确 定</el-button>
                    </div>
                </el-dialog>
                <!-- 添加箱子信息 -->
                <el-dialog title="添加货物信息" :visible.sync="addGuigeShow">
                    <el-form size="small">
                        <el-form-item label="箱数(CM)" :label-width="formLabelWidth" class="must">
                            <el-input v-model="addGuige.number" type="number" min="1" placeholder="箱数"></el-input>
                        </el-form-item>
                        <el-form-item label="长(CM)" :label-width="formLabelWidth" class="must">
                            <el-input v-model="addGuige.long" type="number" placeholder="长"></el-input>
                        </el-form-item>
                        <el-form-item label="宽(CM)" :label-width="formLabelWidth" class="must">
                            <el-input v-model="addGuige.width" type="number" placeholder="宽"></el-input>
                        </el-form-item>
                        <el-form-item label="高(CM)" :label-width="formLabelWidth" class="must">
                            <el-input v-model="addGuige.height" type="number" placeholder="高"></el-input>
                        </el-form-item>
                        <el-form-item label="毛重(CM)" :label-width="formLabelWidth" class="must">
                            <el-input v-model="addGuige.weight" type="number" placeholder="毛重"></el-input>
                        </el-form-item>
                        <el-form-item :label-width="formLabelWidth" class="erro-info">
                            <div class="erro-info-text" v-text="addGuigeErro"></div>
                        </el-form-item>
                    </el-form>
                    <div slot="footer" class="dialog-footer">
                        <el-button type="primary" @click.native="handleSaveguige">保 存</el-button>
                    </div>
                </el-dialog>
            </div>
        </div>

        <footer class="footer">
            <ul>
                <li>
                    <a href="index.html ">首页</a>
                </li>
                <li>
                    <a href="index.html " class=" ">省钱方案</a>
                </li>
                <li>
                    <a href="index.html " class=" ">关于我们</a>
                </li>
                <li>
                    <a href="index.html " class=" ">联系我们</a>
                </li>
            </ul>
            <div class="bei ">
                <span>Copyright@2017 fba.top,All Rights Reserved</span>
                <i>|</i>
                <span>粤ICP备15039098号-2</span>
            </div>
        </footer>
    </div>
</body>
<script src="js/jquery.min.js" type="text/javascript"></script>
<script src="js/sp-func.js" type="text/javascript"></script>
<script src="js/vue.js "></script>
<script src="js/element-ui.js "></script>
<script src="js/vue-amap.js"></script>
<script>
    // 初始化高德地图的 key 和插件
    window.VueAMap.initAMapApiLoader({
        key: '67cbf25aaeeb270f65bf66afaa028cb5',
        plugin: ['Autocomplete', 'PlaceSearch', 'Scale', 'OverView', 'ToolBar', 'MapType', 'PolyEditor', 'AMap.CircleEditor', 'AMap.Geolocation', 'Geocoder']
    });
    setTimeout(function () {
        $('.sp-container').css('display', 'block');
    }, 200)
    var name = SPFunc.getRequest();

    let amapManager = new VueAMap.AMapManager();
    new Vue({
        el: '#app',
        data: {
            //百度地图
            amapManager,
            zoom: 9,
            center: [0, 0],
            events: {},
            plugin: [],
            address: '',
            markers: [{
                title: '【东莞仓】',
                position: [113.753228, 22.9833],
                address: '广东省东莞市南城街道东骏豪苑(东骏路)',
                phone: '13713262222',
                visible: true,
            }, {
                title: '【龙岗仓】',
                position: [114.234824, 22.723301],
                address: '广东省深圳市龙岗区龙城街道宏兴苑',
                phone: '13713263333',
                visible: true,
            },{
                title: '【坂田仓】',
                position: [114.07314, 22.62579],
                address: '广东省深圳市龙岗区坂田第三工业区二栋一楼',
                phone: '13713261111',
                visible: true,
            }],
            title: '',
            phone: '',
            distance: '',
            minNumber: '',
            xxiaMap: true,
            start: {
                longitude: 0,
                latitude: 0
            },
            end: {
                longitude: 0,
                latitude: 0
            },
            userCarry: {//自提地址
                title: '',
                address: '',
                phone: '',
                distance: ''
            },
            //------
            show: false,
            checked: true,
            listTable: false,
            options: [{
                value: '选项1',
                label: '黄金糕'
            }, {
                value: '选项2',
                label: '双皮奶'
            }],
            value: '',
            radio: 0,
            smenRadio: '1',
            dialogAddAddress: false,
            form: {
                id: '',
                region: '',
                postcode: '',
                fbacode: '',
                city: '',
                address: '',
                default: false
            },
            formLabelWidth: '120px',
            addressList: [{
                id: 1,
                region: '美国',
                postcode: '1868215',
                fbacode: '1仓',
                city: '纽约',
                address: '德克萨斯州达拉斯',
                default: true,
            }, {
                id: 2,
                region: '日本',
                postcode: '2152960',
                fbacode: '2仓',
                city: '九龙',
                address: '密西西比',
                default: false,
            }, {
                id: 3,
                region: '美国',
                postcode: '5186860',
                fbacode: '3仓',
                city: '洛杉矶',
                address: '德克萨斯州达拉斯小牛X',
                default: false,
            }],
            addressListShow: false,
            smenAddress: {
                address: '广东省深圳市南山区学府路南山智园B11栋14楼(Daniel)',
                phone: '18682152960'
            },
            smenform: {
                address: '',
                phone: ''
            },
            smenAddAddress: false,
            boxNumber: '',
            guige: {
                long: '',
                width: '',
                height: '',
                weight: ''
            },
            guigeArr: [],
            addGuige: {
                number: '',
                long: '',
                width: '',
                height: '',
                weight: '',
            },
            addGuigeErro: '',
            guigeRadio: '1',
            addGuigeShow: false,
            addSPinfo: false,
            lishiTable: false,
            spList: [],
            lishiList: [{
                sku: 'HF001',
                zhName: '黑色签字笔',
                enName: 'pen',
                enName: 'pen',
                code: '547896542',
                money: '￥5.00',
                img: 'https://y.gtimg.cn/music/photo_new/T001R300x300M000002J4UUk29y8BY.jpg?max_age=2592000'
            }],
            spListSelection: []
        },
        created: function () {
            var self = this;
            // 地图事件
            this.events = {
                init: (o) => {
                    //创建地图获取城市
                    // o.getCity(result => {
                    //     console.log(result)
                    // })
                },
                'moveend': () => {
                },
                'zoomchange': () => {
                },
                'click': (e) => {
                    //点击地图获取经纬度和具体地址
                    self.getGeocoder(e.lnglat);
                }
            }
            //---------地图插件-----------
            //工具条
            this.plugin = ['ToolBar', {
                pName: 'MapType',
                defaultType: 0,
                autoPosition: true,
                useNative: true,
            }, {//定位插件---------1111111111
                pName: 'Geolocation',
                events: {
                    init(o) {
                        // 定位 初始坐标
                        o.getCurrentPosition((status, result) => {
                            if (result && result.position) {
                                let obj = {longitude: result.position.lng, latitude: result.position.lat};
                                self.center = [result.position.lng, result.position.lat];
                                self.start = obj;
                                console.log('1>>>>初始点')
                                console.log(result)
                                self.address = result.formattedAddress
                                self.$nextTick(function() {
                                    //距离最近的仓库
                                    let arr = [];
                                    self.markers.forEach((d, i) => {
                                        let obj = {longitude: d.position[0], latitude: d.position[1]},
                                            num = self.calculateLineDistance(self.start, obj).toFixed(2);
                                        self.$set(d, 'distance', num);
                                        arr.push(num)
                                    })
                                    let minN = Math.min.apply(null,arr),
                                        minIndex = 0;
                                        self.minNumber = minN;
                                    for (let i = 0; i < arr.length; i++) {
                                        if(minN == arr[i]){
                                            minIndex = i;
                                        }
                                    }
                                    self.title = self.userCarry.title = self.markers[minIndex].title;
                                    self.address = self.userCarry.address = self.markers[minIndex].address;
                                    self.phone = self.userCarry.phone = self.markers[minIndex].phone;
                                    self.distance = self.userCarry.distance = minN;
                                });
                            }
                        });
                    },
                    'click': (e) => {
                        alert('Geolocation');
                    }
                }
            }]
        },
        computed: {
            //总体积
            allTiji: function () {
                if (this.guigeRadio == '1') {
                    if (this.boxNumber && this.guige.long && this.guige.width && this.guige.height) {
                        return (parseInt(this.boxNumber) * parseInt(this.guige.long) * parseInt(this.guige.width) * parseInt(this.guige.height)) / 1000000
                    } else {
                        return 0;
                    }
                } else {
                    if (this.guigeArr.length > 0) {
                        let num = 0;
                        this.guigeArr.forEach((d, i) => {
                            if (d.number && d.long && d.width && d.height) {
                                num += (parseInt(d.number) * parseInt(d.long) * parseInt(d.width) * parseInt(d.height)) / 1000000
                            }
                        })
                        return num;
                    } else {
                        return 0;
                    }
                }
            },
            //总重量
            allWeight: function () {
                if (this.guigeRadio == '1') {
                    let weight = this.guige.weight && this.boxNumber ? parseInt(this.boxNumber) * parseInt(this.guige.weight) : 0;
                    if (this.boxNumber && this.guige.weight) {
                        return weight;
                    } else {
                        return 0;
                    }
                } else {
                    if (this.guigeArr.length == 0) return 0;
                    num = 0;
                    this.guigeArr.forEach((d, i) => {
                        if (d.number && d.weight) {
                            num += parseInt(d.number) * parseInt(d.weight);
                        }
                    })
                    return num;
                }
            }
        },
        watch: {
            //监听规格是否相同
            guigeRadio: function () {
                this.guige = {
                    long: '',
                    width: '',
                    height: '',
                    weight: ''
                }
                this.guigeArr = []
            }
        },
        methods: {
            //获取经纬度和具体地址
            getGeocoder(lnglat) {
                console.log(lnglat)
                let { lng, lat } = lnglat;
                var self = this;
                this.center = [lng, lat];

                // 这里通过高德 SDK 完成。
                var geocoder = new AMap.Geocoder({
                    radius: 1000,
                    extensions: "all"
                });
                geocoder.getAddress([lng, lat], function (status, result) {
                    if (status === 'complete' && result.info === 'OK') {
                        if (result && result.regeocode) {
                            self.address = result.regeocode.formattedAddress;
                            self.$nextTick(function() {
                                console.log('获取经纬度和具体地址')
                            });
                        }
                    }
                });
            },
            //高德地图确认
            handleSmenSaveMap() {
                this.xxiaMap = false;
                this.userCarry.title = this.title;
                this.userCarry.address = this.address;
                this.userCarry.phone = this.phone;
                this.userCarry.distance = this.distance;
            },
            calculateLineDistance(start, end) {
                let lon1 = (Math.PI / 180) * start.longitude;
                let lon2 = (Math.PI / 180) * end.longitude;
                let lat1 = (Math.PI / 180) * start.latitude;
                let lat2 = (Math.PI / 180) * end.latitude;

                // 地球半径
                let R = 6371;

                // 两点间距离 km，如果想要米的话，结果*1000
                let d = Math.acos(Math.sin(lat1) * Math.sin(lat2) + Math.cos(lat1) * Math.cos(lat2) * Math.cos(lon2 - lon1))
                    * R;

                return d;
            },
            //选择其他地址
            checkOther() {
                this.xxiaMap = true;
                setTimeout(function() {
                    $('.v-modal').css('display', 'block');
                }, 100)
            },
            //------------------收货信息-----------------------------//
            //保存地址
            handleSaveAddress() {
                this.dialogAddAddress = false;
                if (this.form.default) {//设置为默认地址
                    this.addressList.forEach((d, i) => {
                        d.default = false;
                    })
                }
                if (this.form.id) {
                    this.addressList.forEach((d, i) => {
                        if (d.id == this.form.id) {
                            d = this.form;
                            return;
                        }
                    })
                } else {
                    this.form.id = this.addressList.length + 1;
                    this.addressList.unshift(this.form);
                }
            },
            //设为默认地址
            handleClick(row) {
                this.addressList.forEach((d, i) => {
                    d.default = false;
                })
                row.default = true;
            },
            //编辑地址
            handleEditAddress(index, row) {
                this.dialogAddAddress = true;
                this.form = {
                    id: '',
                    region: '',
                    postcode: '',
                    fbacode: '',
                    city: '',
                    address: '',
                    default: false
                }
                row && (this.form = row);
                console.log(index, row);
            },
            //删除地址
            handleDeleteAddress(index, row) {
                this.addressList.splice(index, 1)
                console.log(index, row);
            },
            //选中地址
            handleCheck(row) {
                console.log(row);
            },
            //------------------货物信息-----------------------------------------//
            //上门取件编辑
            handlesmenAddress() {
                this.smenAddAddress = true;
                this.smenform.address = this.smenAddress.address;
                this.smenform.phone = this.smenAddress.phone;
            },
            //上门取件保存
            handleSmenSaveAddress() {
                this.smenAddAddress = false;
                this.smenAddress = this.smenform;
            },
            //------------------箱子信息-----------------------------------------//
            //保存
            handleSaveguige() {
                // let obj = {
                //     number: '数量',
                //     long: '长',
                //     width: '宽',
                //     height: '高',
                //     weight: '重量',
                // }
                // for (var k in this.addGuige) {
                //     if(this.addGuige[k] == ''){
                //         this.addGuigeErro = obj[k] + '不能为空！';
                //         return;
                //     }else{
                //         this.addGuigeErro = '';
                //     }
                // }
                this.addGuigeShow = false;
                this.guigeArr.push(this.addGuige);
                this.addGuige = {
                    number: '',
                    long: '',
                    width: '',
                    height: '',
                    weight: '',
                }
            },
            //新增/编辑箱子信息
            handleEditGuige(item, index) {
                this.addGuigeShow = true;
                this.addGuige = {
                    number: '',
                    long: '',
                    width: '',
                    height: '',
                    weight: '',
                }
                if (index) {
                    this.addGuige = item;
                }
            },
            //删除
            handleDeleteGuige(item, index) {
                this.guigeArr.splice(index, 1);
            },
            //-------------------商品信息------------------
            //新增/编辑商品信息
            spHandleEdit(index, row) {
                this.addSPinfo = true;
            },
            //删除商品信息
            spHandleDelete(index, row) {
                this.spList.splice(index, 1);
            },
            //新增/编辑商品信息保存
            handleAddSp(index, row) {
                this.addSPinfo = false;
            },
            //历史商品列表选中
            handleSelectionChange(val) {
                this.spListSelection = val;
            },
            //历史商品列表保存
            handleSaveSp() {
                this.lishiTable = false;
                this.spListSelection.forEach((d, i) => {
                    this.spList.push(d)
                })
            },
            // 图片本地上传预览
            previewFiles() {
                var preview = document.querySelector('.file-content img');
                var file = document.querySelector('input[type=file]').files[0];
                var reader = new FileReader();

                reader.addEventListener("load", function () {
                    if (/\.(jpe?g|png|gif)$/i.test(file.name)) {
                        preview.src = reader.result;
                        preview.style.width = "50px"
                        preview.style.height = "50px"
                        preview.style.display = 'block'
                    } else {
                        alert('请上传合法的图片类型，如:jpg, jpeg, png, gif')
                    }
                }, false);

                if (file) {
                    reader.readAsDataURL(file);
                }

            }

        },
        mounted: function () {
            var self = this;
            this.$nextTick(function () {
                //当前页面登陆/退出
                SPFunc.inLogin();

                //手机端菜单点击
                SPFunc.navClick();
                
                setTimeout(function() {
                    self.xxiaMap = false;
                    setTimeout(function() {
                        $('.baidu-map').css('right', '0');
                    }, 500)
                }, 200)
                //初始化时选择距离最近的仓库
                
                //渲染完成添加地图点的点击事件
                self.markers.forEach((d, i) => {
                    self.$set(d,  'events', {
                        click: (e) => {
                            console.log(d)
                            self.center = d.position;
                            self.title = d.title;
                            self.address = d.address;
                            self.phone = d.phone;
                            self.distance = d.distance;
                        }
                    })
                })
            })
        }
    });
</script>

</html>